div * {
  font-family: 'Montserrat', sans-serif;
}

/* -----page loader------ */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/ibinex-logo.png') 50% 50% no-repeat, url('../images/pageloader2.gif') 50% 50% no-repeat rgb(249,249,249);
    background-size: 10vh, 25vh;
    opacity: 0.9;
}
/* -----page loader------ */